{{ define "repoheader" }}
<header>
  <h1>
  <a href="/">all repos</a>
   &mdash; {{ .name }}
    {{ if .ref }}
    <span class="ref">@ {{ .ref }}</span>
    {{ end }}
  </h1>
  <p class="desc">{{ .desc }}</p>
</header>
{{ end }}
